html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body,
div,
input,
label,
textarea,
blockquote,
code,
pre {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    color: #333;
}

p,
li {
    line-height: 1.5em;
}

p.warning {
    font-style: italic;
    color: #777;
}

code, pre {
    font-family: 'Dank Mono', 'Menlo', 'Monaco', monospace;
    background: #e3e3e3;
    border-radius: 4px;
    font-size: 1em;
    padding: 6px 8px;
}

pre {
    overflow-x: auto;
}

pre code {
    padding: 0;
}

code {
    padding: 0 5px 2px 5px;
}

body {
    font-family: system-ui, 'Helvetica', 'Segoe UI', sans-serif;
    background: #f8f8f8;
}

main {
    margin: 24px auto;
    width: 60%;
    max-width: 700px;
}

a {
    color: #333;
}

a:hover {
    opacity: .6;
}

input[type="checkbox"] {
    width: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p a {
    color: #333;
    position: relative;
}

header p a::after {
    content: attr(title);
    display: block;
    opacity: 0;
    color: #333;
    position: absolute;
    left: 50%;
    top: calc(100% + 6px);
    transform: translate(-50%, -6px);
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, .3);
    transition: opacity .2s, transform .2s;
    pointer-events: none;
}

header p a:hover::after {
    opacity: 1;
    transform: translate(-50%, 0);
}

label {
    color: #333;
    font-weight: bold;
    margin: 8px 0;
}

input,
button,
textarea {
    padding: 6px 12px;
    width: 100%;
    outline: none;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #aaa;
    font-family: 'Menlo', 'Monaco', 'Courier', monospace;
    box-shadow: none;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}

input:focus,
textarea:focus {
    border: 2px solid #333;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header,
input,
textarea {
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 16px;
    flex-grow: 1;
}

.inputGroup.submit {
    margin-left: 16px;
    width: 180px;
    flex-grow: 0;
}

textarea {
    resize: vertical;
    min-height: 300px;
}

button,
input[type="submit"] {
    padding: 6px 12px;
    background: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    transition: opacity .2s;
    border-color: #333;
}

button:hover,
input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: .7;
}

.hidden {
    visibility: hidden;
}

blockquote {
    border-left: 2px solid #333;
    padding-left: 12px;
}

p a {
    color: #333;
}

img {
    max-width: 100%;
}

.orMark {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin: 12px 0;
}

#expandNoteButton {
    margin-left: auto;
    margin-top: 12px;
    width: auto;
}

@media only screen and (max-width: 700px) {
    main {
        width: 96%;
        max-width: unset;
    }
}
